@import url("[Outfit](https://fonts.google.com/specimen/Outfit)");
body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: cursive;
    cursor: pointer;
}
.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 17%;
    background-color:hsl(216, 50%, 16%);
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}
.container1 img{
    width: 100%;
    border-radius: 10px;
}
.container2{
    font-weight: bolder;
}
h2{
    color: #fff;
}
.flexcontainer p{
    color: hsl(215, 27%, 53%);
}
.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid hsl(215, 32%, 27%);
}
.info span{
    color: hsl(178, 100%, 50%)
}
.attribution {
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 15px;
  color: rgb(255, 255, 255);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.avatar p img{
    width: 40px;
    border: 1px solid #fff;
    border-radius: 25px;
}
.avatar p span{
    position: relative;
    bottom: 10px;
}
@media screen and (min-width: 100px) {
    .flexcontainer{
        width: 85%;

    }
}
@media screen and (min-width: 1000px){
    .flexcontainer{
        width: 28%;
    }
}